<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.example.comicdav.video.player.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <service
            android:name="com.example.comicdav.video.player.VideoPlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
    </application>
</manifest>
